
body {
    background-color: #EAF6F6;
  }
  hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: #66BFBf;
    border-width: 5px;
    width: 5%;
  }
.hacker {
  height: 200px;
  width: 200px;
}
h1 {
  color: #66BFBf;
}
h3 {
  color: #66BFBf;
}
